{% extends 'apptwo/base.html' %}
{% block body %}
  <body>
    <h1>WELCOME TO ADMIN ACTIVITY</h1><br><br>
    <a href="/ccreate/"><button type="button" class="btn btn-success">CREATE COURSE</button></a><br><br>
    <a href="/bcreate/"><button type="button" class="btn btn-success">CREATE BATCH</button></a><br><br>
    <a href="/fcreate/"><button type="button" class="btn btn-success">ADD FACULTY</button></a><br><br>
    <a href="/screate/"><button type="button" class="btn btn-success">ADD STUDENT</button></a><br><br>
  </body>
  {% endblock %}
</html>
